[submodule "Assets/IRXRObject"]
	path = Assets/IRXRObject
	url = https://github.com/intuitive-robots/IRXRObject.git

[submodule "Assets/HDAR"]
	path = Assets/HDAR
	url = https://github.com/intuitive-robots/HDAR.git