name: Build Meta Quest3

on:
  pull_request:
    branches:
      - meta-quest3-dev

jobs:
  buildForMetaQuest3:
    name: Build for MetaQuest3
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        projectPath:
          - "."
        unityVersion:
          - 2022.3.0f1 # TODO automatically get right version from ProjectSettings/ProjectVersion.txt
        targetPlatform:
          - Android
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true
      - uses: actions/cache@v3
        with:
          path: ${{ matrix.projectPath }}/Library
          key:
            Library-${{ matrix.projectPath }}-${{ matrix.targetPlatform }}-${{
            hashFiles(matrix.projectPath) }}
          restore-keys: |
            Library-${{ matrix.projectPath }}-${{ matrix.targetPlatform }}-
            Library-${{ matrix.projectPath }}-
            Library-
      - name: Install mp4 codecs
        # This is needed cause some .mp4 files get downloaded as part of MetaQuest package tooltipps
        run: sudo apt-get install ubuntu-restricted-extras
      - uses: jlumbroso/free-disk-space@v1.2.0
      - uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          projectPath: ${{ matrix.projectPath }}
          unityVersion: ${{ matrix.unityVersion }}
          targetPlatform: ${{ matrix.targetPlatform }}
          customParameters: ""
          androidExportType: "androidPackage"
          buildName: "MetaQuest3Build"
      - uses: actions/upload-artifact@v3
        with:
          name: MetaQuest3Build
          path: build

# TODO add some release logic here